.App {
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
}

table {
  margin: 0 auto;
  width: 50%;
  border: 1px solid black;
}

table th {
  background-color: gray;
}

table td {
  background-color: coral;
}

form {
  text-align: center;
}